{% extends 'base.html.twig' %}
{% block content %}
    <section class="two-col-section">
        <div class="background"></div>
        <div class="row">
            <article class="small-12 medium-8 large-9 columns content">
                <h1>{{ post.title }}</h1>
                {{ post.content }}

                {% if comments is defined and comments and user%}
                    <div class="comment-box">
                        <!-- comments -->
                        <div class="comments">
                            {% if post.comments %}
                                <h3>Comments </h3>
                                {% for cmt in post.comments %}
				                    {% if cmt.comment_approved %}
                                    	{% include "partials/comment.twig" with {comment:cmt} %}
				                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                        {% if post.comment_status == "closed" %}
                            <p> comments for this post are closed </p>
                        {% else %}
                            <!-- comment form -->
                            {% include "partials/comment-form.twig" %}
                        {% endif %}
                    </div>
                {% endif %}
            </article>
            <div class="small-12 medium-4 large-3 columns sidebar">
                {{ right_sidebar }}
            </div>
        </div>
    </section>
{% endblock %}
