@import "settings";
@import "font-awesome";
@import "foundation";
@include foundation-everything();
@import "supertheme";

@import "woocommerce";

@import "layout/header";
@import "layout/footer";
@import "layout/two-col";
@import "layout/widget";

@import "rows/alternating-content";
@import "rows/slick-slider";
@import "rows/tagline";
@import "rows/news";
@import "rows/video-header";

#basic-form, .household-delete, .fancybox-message, #add-form {
  display: none;
}
.account-overview.profile {
  margin-bottom: $global-margin;
  font-size: 0;
  img {
    width: 200px;
    margin-bottom: $global-margin;
  }
  p {
    margin: 0;
    font-size: 1rem;
  }
  input[type=submit] {
    @include button(false);
  }
  input[type=checkbox], .description {
    display: none;
  }
}
.contact.menu {
  margin-bottom: $global-margin;
}

.aligncenter {
  margin: 0 auto;
}

section.content {
  padding: 4rem 0;
}

.screen-reader-text {
  display: none;
}

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}

.fancybox-overlay {
  background-color: rgba(0,0,0,0.9);
}
.fancybox-close {
  background-image: none;
  top: rem-calc(-48px);
  right: rem-calc(-12px);
  display: none;
  &::before {
    content: "\f00d";
    font-family: "FontAwesome";
    font-size: 2rem;
    color: $white;
    &:hover {
      color: $anchor-color-hover;
    }
  }
}
.fancybox-prev span {
  background-image: none;
  &::before {
    content: "\f060";
    font-family: "FontAwesome";
    font-size: 2rem;
    color: $white;
    &:hover {
      color: $anchor-color-hover;
    }
  }
}
.fancybox-next span {
  background-image: none;
  &::before {
    content: "\f061";
    font-family: "FontAwesome";
    font-size: 2rem;
    color: $white;
    &:hover {
      color: $anchor-color-hover;
    }
  }
}


// general
a.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: $primary-color;
  color: $white;
  text-align: center;
  font-size: 2rem;
  padding: 0 1rem;
  z-index: 2;
  border: 1px solid $white;
  display: none;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.has-tip {
  font-weight: normal;
}

.tabs {
  border: none;
  background-color: #F6F6F6;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
  background-color: $dark-color;
  color: $white;
}
.tabs-content {
  border-color: #F6F6F6;
}

.main-section {
  padding-top: $global-margin * 4;
  padding-bottom: $global-margin;
}

.term {
  font-weight: bold;
}

// maps
.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}

// rides
.ride {
  .description {
    margin-bottom: 1rem;
  }
  .description p:last-child {
    margin: 0;
  }
  .details, .location {
    margin-bottom: $global-margin/2;
    h4 {
      margin-bottom: 0;
      a {
        font-size: 1rem;
      }
    }
    + .maps {
      margin-bottom: $global-margin;
    }
  }
  .download.button {
    margin: 0.5rem 0 1rem;
    @include breakpoint(medium) {
      float: right;
      position: relative;
      top: -2rem;
      margin: 0 0 -1rem 0;
    }
  }
  .download.button+br {
    clear: both;
  }
}

// ride cal
.rides-filter-container {
  margin-bottom: $global-margin;
  .accordion-title {
    background-color: $dark-gray;
    color: $white;
    font-size: 1rem;
    &::before {
      content: "\f054";
      font-family: FontAwesome;
    }
  }
  .is-active .accordion-title::before {
    content: "\f078";
    font-family: FontAwesome;
  }
  .accordion-content {
    padding: 0;
  }
}
.rides-filter {
  padding: $global-margin;
  margin: 0;
  background-color: $dark-gray;
  color: $white;
  position: relative;
  label {
    color: $white;
  }
  .simple.menu {
    margin-bottom: $global-margin;
  }
  @include breakpoint(medium) {
    display: block;
  }
}

.rides-calendar {
  width: 100%;
  margin: $global-margin 0;
  .date {
    font-size: 2rem;
    .day-of-week {
      font-size: 1rem;
    }
  }
  .date {
    padding-left: 12px;
  }
  .day {
    border-left: 4px solid $secondary-color;
    margin-bottom: $global-margin;
  }
  .day.previous {
    display: none;
    color: $medium-gray;
    border-left-color: $light-gray;
    a {
      color: $light-gray;
      &:hover {
        color: darken($light-gray, 10%);
      }
    }
  }
  &.previous .day.previous {
    display: block;
  }
  .day.weekend {
    border-left-color: $primary-color;
  }
  .day.current {
    border-left-color: $accent-color;
    a {
      color: $accent-color;
      &:hover {
        color: darken($accent-color, 10%);
      }
    }
  }
  .day.future {
    border-left-color: $medium-gray;
    color: $medium-gray;
    a {
      color: $light-gray;
      &:hover {
        color: darken($light-gray, 10%);
      }
    }
  }
  .menu {
    padding: $global-margin;
    a {
      padding: 0 0 $global-margin/2 0;
    }
  }
  @include breakpoint(medium) {
    display: table;
    .week {
      display: table-row;
      height: rem-calc(200px);
    }
    .day {
      margin-bottom: 0;
      border: none;
      display: table-cell;
      width: 14.28%;
    }
    .day.previous {
      display: table-cell !important;
      .date {
        border-top: 8px solid $light-gray;
      }
    }
    .day.future {
      .date {
        border-top: 8px solid $medium-gray;
      }
    }
    .day.current {
      .date {
        border-top: 8px solid $accent-color;
      }
    }
    .day.weekend {
      .date {
        border-top: 8px solid $primary-color;
      }
    }
    .date {
      padding-left: 0;
      border-top: 8px solid $secondary-color;
      border-bottom: 1px solid $secondary-color;
      margin: $global-margin / 2;
      padding-top: $global-margin;
    }
  }
}

// rides section
.rides {
  padding: $global-margin * 2 0;
  color: $white;
  background-color: $primary-color;
  .date, .button {
    margin-top: $global-margin;
  }
  .callout {
    margin: 0;
    color: $body-font-color;
    background-color: $body-background;
  }
  .button {
    margin-bottom: 0;
  }
}

// leader profiles
.leader {
  text-align: center;
  margin-bottom: 2rem;
  img {
    border-radius: 100%;
    max-width: 50%;
    margin-bottom: $global-margin;
  }
  .contact li {
    margin-bottom: 0.4rem;
    a {
      display: inline;
    }
  }
}

// civi forms
.crm-container div.form-item {
  height: auto !important;
}
.crm-section .label, .messages .crm-container h3 {
  background-color: transparent;
}
.crm-container .crm-section .content {
  margin-left: 17%;
}