<section class="tagline bg-{{ SP.ACF.get_sub_field('style') }}">
    <div class="row column text-center">
        <h3>
            {{ SP.ACF.get_sub_field('tagline') }}
        </h3>
    </div>
</section>