{% extends 'base.html.twig' %}
{% block title %}
    {% if title is defined %}
        <title>{{ title }}</title>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
{% block content %}
    {% if rows is defined and rows|length %}
        {% for row in rows %}{{ row }}{% endfor %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
{% block footer %}
    {% include 'layout/footer.html.twig' %}
    {% include 'layout/copyright.html.twig' %}
{% endblock %}