{% extends 'base.html.twig' %}
{% block content %}
    <section class="content">
        <div class="row column">
            {{ woocommerce | raw }}
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'layout/footer.html.twig' %}
    {% include 'layout/copyright.html.twig' %}
{% endblock %}