{% extends 'base.html.twig' %}
{% block content %}
    <section class="two-col-section">
        <div class="background"></div>
        <div class="row">
            <article class="medium-8 large-9 columns content">
                <h1>{{ SP.WordPress.title() }}</h1>
                {{ SP.WordPress.content() }}
            </article>
            <div class="medium-4 large-3 columns sidebar">
                    {{ right_sidebar }}
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include 'layout/footer.html.twig' %}
    {% include 'layout/copyright.html.twig' %}
{% endblock %}