<section class="copyright">
    <div class="row text-center">
        <p>
            <small>
                &copy; 2016 Portland Wheelmen Touring Club - <a href="">Terms and Conditions</a> - <a href="">Privacy Policy</a>
                <span class="show-for-large-only"> - </span>
            </small>
            <small>
                Built by Yamiko LLC - <a href="https://yamiko.ninja" target="_blank">Fast, Secure and Elegant Web Design in Portland OR</a>
            </small>
        </p>
    </div>
</section>