.news {
  padding: 1rem 0;
  .small-up-1 .column > a {
    display: block;
    margin-bottom: 0.5rem;
    &.icon {
      position: relative;
      padding-bottom: 100%;
      text-align: center;
      font-size: 10rem;
      color: $white;
      background-color: $dark-gray;
      i {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}