
.slick-slider {
  margin-bottom: 0;
  background-color: $dark-gray;
  overflow: hidden;
  transform-style: preserve-3d;
  &.slick-dotted.slick-slider {
    margin: 0;
  }
  .slick-slide {
    height: auto;
  }
  .slick-prev {
    display: none;
    @include breakpoint(medium) {
      display: block;
      left: $global-margin;
      height: auto;
      width: auto;
      z-index: 1;
      &::before {
        font-family: FontAwesome;
        content: "\f104";
        font-size: 8rem;
      }
    }
  }
  .slick-next {
    display: none;
    @include breakpoint(medium) {
      display: block;
      right: $global-margin;
      height: auto;
      width: auto;
      z-index: 1;
      &::before {
        font-family: FontAwesome;
        content: "\f105";
        font-size: 8rem;
      }
    }
  }
  .slick-dots {
    bottom: 0.25rem;
    margin: 0;
    li {
      button::before {
        font-family: FontAwesome;
        content: "\f111";
        color: $white;
        font-size: 1rem;
        @include breakpoint(medium) {
          font-size: 2rem;
        }
      }
    }
    li, li button, li button::before {
      width: 2rem;
      @include breakpoint(medium) {
        width: 2.5rem;
      }
    }
    @include breakpoint(medium) {
      bottom: $global-margin;
    }
  }
  img {
    width: 100%;
  }
  h1 {
    text-transform: uppercase;
    font-weight: bolder;
    color: #FFF;
    width: 100%;
    font-size: 2rem;
    line-height: 1.2;
    @include breakpoint(medium) {
      font-size: 3rem;
      line-height: 1.4;
    }
    @include breakpoint(large) {
      font-size: 4rem;
    }
  }
  .cta {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .button-group {
    display: inline-block;
    .button:not(:last-child) {
      border-color: transparent;
      margin-right: 4px;
    }
  }
}