//dont overwrite link style in header
.login-menu .button.hollow.primary {
  border: 1px solid #53D9E6;
  color: #53D9E6;
  background-color: transparent;
  font-size: 0.6rem;
  padding: 0.7rem 1rem;
  margin: 0.7rem 0 0.7rem 0.5rem ;
}

// product link
.woocommerce-LoopProduct-link {
  color: $body-font-color;
  &:hover {
    color: $body-font-color;
  }
}

// rating
.woocommerce .star-rating span::before {
  color: $body-font-color;
}

// price
.woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce-Price-amount {
  color: $body-font-color;
  font-size: 2rem;
}
// stock text
.woocommerce div.product .stock {
  color: $alert-color;
  &.in-stock {
    color: $body-font-color;
  }
}

// button
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: $button-background;
  color: $white;
  font-weight: normal;
  &:hover {
    background-color: $button-background-hover;
    color: $white;
    font-weight: normal;
  }
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  border-radius: 0;
  padding: 0.75em 1em;
}
.woocommerce ul.products li.product .button {
  margin: 0;
}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled,
.woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled,
.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled,
.woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    background-color: $alert-color;
    color: $white;
    padding: 0.75em 1em;
}
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover,
.woocommerce #respond input#submit:disabled[disabled]:hover, .woocommerce a.button.disabled:hover,
.woocommerce a.button:disabled:hover, .woocommerce a.button:disabled[disabled]:hover, .woocommerce button.button.disabled:hover,
.woocommerce button.button:disabled:hover, .woocommerce button.button:disabled[disabled]:hover, .woocommerce input.button.disabled:hover,
.woocommerce input.button:disabled:hover, .woocommerce input.button:disabled[disabled]:hover {
    background-color: $alert-color;
    color: $white;
    padding: 0.75em 1em;
}

// tabs for reviews/details
.woocommerce div.product .woocommerce-tabs ul.tabs {
  border: none;
  padding: 0 0 0 5px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border-radius: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  display: none ;
  content: "";
}

// avatar
.woocommerce #reviews #comments ol.commentlist li img.avatar {
  padding: 0;
  border-radius: 100%;
}

// woocommerce textarea
.woocommerce #reviews #comment {
  height: rem-calc(200px);
}

// lightbox gallery
.pp_gallery, div.ppt, div.pp_woocommerce .pp_details, .pp_expand {
  display: none !important;
}
.pp_content {
  height: auto !important;
}
a.pp_next::before {
  background-image: none !important;
  background-color: transparent !important;
  content: "\f061" !important;
  font-family: "FontAwesome" !important;
  font-size: 2rem !important;
  color: $white !important;
  &:hover {
    color: $anchor-color-hover !important;
  }
}
a.pp_previous::before {
  background-image: none !important;
  background-color: transparent !important;
  content: "\f060" !important;
  font-family: "FontAwesome" !important;
  font-size: 2rem !important;
  color: $white !important;
  &:hover {
    color: $anchor-color-hover !important;
  }
}

// view cart
.woocommerce a.added_to_cart {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  color: $white;
  line-height:1;
  position: relative;
  top: 1px;
  background-color: map-get($foundation-palette, dark);
  &:hover {
    background-color: scale_color(map-get($foundation-palette, dark), $lightness: -15%);
  }
}

// table buttons
.woocommerce .cart .button, .woocommerce .cart input.button {
  background-color: map-get($foundation-palette, dark);
  &:hover {
    background-color: scale_color(map-get($foundation-palette, dark), $lightness: -15%);
  }
}
.woocommerce .cart .coupon .button, .woocommerce .cart .coupon input.button {
  background-color: $success-color;
  &:hover {
    background-color: scale_color($success-color, $lightness: -15%);
  }
}
.woocommerce input.button:disabled, .woocommerce input.button[disabled]:disabled {
  background-color: map-get($foundation-palette, dark);
  &:hover {
    background-color: scale_color(map-get($foundation-palette, dark), $lightness: -15%);
  }
}

// variation data
.variations {
  border: none;
  tbody {
    border: none;
  }
  .label {
    background: none;
    label {
      padding: 8px 0;
      font-size: 1rem;
    }
  }
}
.product.has-default-attributes.has-children > .images {
  opacity: 1;
}

// magnifying class
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
    z-index: 1;
}

// coupon on checkout
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: rem-calc(200px);
}

// messages
.woocommerce-message {
    background-color: scale_color($success-color, $lightness: 90%);
    color: $success-color;
    border: none;
    border-left: 4px solid $success-color;
    a {
        color: $success-color;
        text-decoration: underline;

        &.button {
            background-color: $success-color;
        }
    }
    &::before {
        color: $success-color;
    }
}

.woocommerce-info {
    background-color: scale_color($primary-color, $lightness: 90%);
    color: $primary-color;
    border: none;
    border-left: 4px solid $primary-color;
    a {
        color: $primary-color;
        text-decoration: underline;

        &.button {
            background-color: $primary-color;
        }
    }
    &::before {
        color: $primary-color;
    }
}

.woocommerce-error {
    background-color: scale_color($alert-color, $lightness: 90%);
    color: $alert-color;
    border: none;
    border-left: 4px solid $alert-color;
    a {
        color: $alert-color;
        text-decoration: underline;

        &.button {
            background-color: $alert-color;
        }
    }
    &::before {
        color: $alert-color;
    }
}

.wc-memberships-for-teams-team-fields-wrapper,
.variation-TeamName,
.woocommerce-table--order-details .wc-item-meta,
.woocommerce .my-team-detail-team-actions a.update_seats {
    display: none;
}

.single_variation_wrap .price {
    margin-bottom: 2rem;
    display: inline-block;
}

.reset_variations {
    display: none !important;
}

.blockOverlay {
    z-index: 1 !important;
}
