<span class="term">Pace:</span>
{% if pace == "slow" %}
    <span
            class="value has-tip"
            data-tooltip aria-haspopup="true"
            data-disable-hover="false"
            tabindex="1"
            title="Speeds approximately 8-13 mph (or in a group ride, the pace of the slowest rider)"
    >Slow (8-13 mph)</span>
{% elseif pace == "leisurely" %}
    <span
            class="value has-tip"
            data-tooltip aria-haspopup="true"
            data-disable-hover="false"
            tabindex="1"
            title="Speeds approximately 13-15 mph"
    >Intermediate (13-15 mph)</span>
{% elseif pace == "moderate" %}
    <span
            class="value has-tip"
            data-tooltip aria-haspopup="true"
            data-disable-hover="false"
            tabindex="1"
            title="Speeds approximately 15-17 mph"
    >Brisk (15-17 mph)</span>
{% elseif pace == "fast" %}
    <span
            class="value has-tip"
            data-tooltip aria-haspopup="true"
            data-disable-hover="false"
            tabindex="1"
            title="Normally a paceline ride; speeds in excess of 18 mph"
    >Fast (18+ mph)</span>
{% else %}
    <span
            class="value has-tip"
            data-tooltip aria-haspopup="true"
            data-disable-hover="false"
            tabindex="1"
            title="Ride leader has not submitted a pace"
    >N/A</span>
{% endif %}
