<span class="term">Pace:</span>
{% if pace == "slow" %}
    <span>Slow (8-13 mph)</span>
{% elseif pace == "leisurely" %}
    <span>Intermediate (13-15 mph)</span>
{% elseif pace == "moderate" %}
    <span>Brisk (15-17 mph)</span>
{% elseif pace == "fast" %}
    <span>Fast (18+ mph)</span>
{% else %}
    <span>N/A</span>
{% endif %}
<span
    class="value has-tip"
    data-tooltip aria-haspopup="true"
    data-disable-hover="false"
    tabindex="1"
    title="Speed indicated is while on a flat or gentle hill terrain—not an average speed, but a cruising speed."
><i class="fa fa-info-circle" aria-hidden="true"></i>
</span>
