<span class="term">Type:</span>
{% if type == "nongroup" %}
    <span
            class="value has-tip"
            data-tooltip aria-haspopup="true"
            data-disable-hover="false"
            tabindex="1"
            title="Riders will spread out with no planned regroup points along the route (map provided)"
    >Non-Group</span>
{% elseif type == "regroup" %}
    <span
            class="value has-tip"
            data-tooltip aria-haspopup="true"
            data-disable-hover="false"
            tabindex="1"
            title="Riders will spread out, and regroup at specific points along the route (map provided)"
    >Re-Group</span>
{% elseif type == "group" %}
    <span
            class="value has-tip"
            data-tooltip aria-haspopup="true"
            data-disable-hover="false"
            tabindex="1"
            title="Riders will stay together"
    >Group</span>
{% else %}
    <i class="missing">A group has not been specified by the ride leader</i>
{% endif %}