<form>
    <div class="acf-field acf-field-date-time-picker" data-name="date" data-type="date_time_picker">
        <div class="acf-label">
            <label for="">Date <span class="acf-required">*</span></label>
        </div>
        <div class="acf-input">
            <div class="acf-date-time-picker acf-input-wrap" data-date_format="MM d, yy" data-time_format="h:mm tt" data-first_day="0">
                <input id="acf-field_57bc992c2f7f5" class="input-alt" name="acf[field_57bc992c2f7f5]" value="" type="hidden">
                <input id="dp1472501631427" class="input hasDatepicker" value="" type="text">
            </div>
        </div>
    </div>
</form>