{% extends 'base.html.twig' %}
{% set title = '404 Page Not Found' %}
{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <article class="cell">
                <h2>Search</h2>
                {{ function('get_search_form') }}
            </article>
        </div>
    </div>
{% endblock %}