<span class="term">Distance:</span>
<span class="value">
    {% if attached is not defined or not attached %}
        {{ length }}
        {% if max_length %}- {{ max_length }}{% endif %}
        miles
    {% else %}
        <i class="missing">Will use the lowest and highest values found in the attached maps</i>
    {% endif %}
</span>