.footer {
  padding-top: $global-margin * 2;
  padding-bottom: $global-margin;
  color: $white;
  background-color: $accent-color;
  a {
    color: $white;
    &:hover {
      color: #f8cb34;
    }
  }
  .gform_wrapper .gform_footer {
    text-align: right;
  }
  .gform_wrapper .top_label .gfield_label {
    display: none;
  }
  .gform_wrapper div.validation_error,
  .gform_wrapper .validation_message {
    border: none;
    padding: 0;
    color: $white;
  }
  .gform_wrapper li.gfield.gfield_error {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }
  .gform_wrapper li.gfield_error input, .gform_wrapper li.gfield_error textarea {
    margin: 0;
  }
  .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
    padding: 0;
    margin-bottom: 1rem;
  }
  .menu {
    li:first-of-type a {
      padding-left: 0;
    }
    li:last-of-type a {
      padding-right: 0;
    }
  }
  .vertical a {
    @include breakpoint(small only) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .fa-facebook, .fa-twitter {
    font-size: 2rem;
  }
}

.copyright {
  line-height: 0.8;
  padding-top: $global-margin;
  color: $white;
  background-color: $dark-gray;
  small {
    display: block;
  }
  @include breakpoint(large) {
    small {
      display: inline;
    }
  }
}