.widget {
  ul {
    list-style-type: none;
    margin: 0;
  }
}

.widget_recent_entries {
  .post-date {
    font-size:80%;
    color: $medium-gray;
  }
}

.widget_search {
  .search-submit {
    @include button($primary-color);
    width: auto;
  }
}

.widget_archive {
  li {
    font-size:80%;
    color: $medium-gray;
    a {
      font-size: 1rem;
      opacity: 1;
    }
  }
}