{% extends 'base.html.twig' %}
{% set title = '404 Page Not Found' %}
{% block content %}
<section class="two-col-section">
    <div style="min-height: 100px"></div>
    <div class="row column">
        <h3>404 - Page Not Found</h3>
    </div>
    <div style="min-height: 100px"></div>
</section>
{% endblock %}
