{% extends 'base.html.twig' %}
{% block content %}
    <section class="one-col-section">
        <div class="background"></div>
        <div class="row" data-equalizer data-equalize-on="medium">
            <article class="small-12 medium-8 large-9 columns content ride" data-equalizer-watch>
                <h1>This is {{ nickname }}'s page!</h1>
            </article>
        </div>
    </section>
{% endblock %}
