@media print {
  .sticky-container, .footer, .copyright {
    display: none;
  }
  article.medium-8.large-9.columns {
    height: auto !important;
  }
  article.medium-8.large-9.columns+div.columns {
    height: auto !important;
  }
}